@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --main-light: #dcdcdc;
  --main-blue: #2d93ad;
  --main-red: #ef2d2f;
  --main-light-dark: #1e2d2f;
  --main-dark: #041f1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--main-dark);
}

/* width */
.scroll-bar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.scroll-bar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scroll-bar::-webkit-scrollbar-thumb {
  background: var(--main-dark);
  border-radius: 5px;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}